@use 'variables' as v;
@use 'base/mixins' as m;

body {
  font-size: 1.6rem;
  width: 100%;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  font-family: v.$fuente_parrafo;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0 0 0 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 50px;
  font-family: v.$fuente_titulos;
}
h3 {
  font-size: 31px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.contenido {
  position: relative;
}

.reproductor {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;

  iframe {
    @include m.tablet {
      width: 300px;
      // height: 70px;
    }
  }
}
