// Tipografía
$fuente_titulos: 'MonteCarlo', cursive;
$fuente_date: 'Joan', serif;
$fuente_biblia: 'Gentium Plus', serif;
$fuente_titulo_padres: 'Playfair Display SC', serif;
$fuente_parrafo: 'Lexend', sans-serif;

// Paleta de Colores
$primario: #0c0869;
$secundario: #e99f9f;
$terciario: #886c1b;
$cuaternario: #152f4c;
$quinario: rgb(230, 88, 11);

$negro: #000000;
$blanco: #ffffff;

// Tamnaños media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
