@use 'base/variables' as v;
@use 'base/mixins' as m;

footer {
  background-color: v.$negro;

  p {
    text-align: left;
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 0;

    a {
      color: v.$blanco;
    }
  }
}
