@use 'base/variables' as v;
@use 'base/mixins' as m;

.portada {
  height: 100vh;
  .couple {
    display: block;
    object-fit: cover;
    height: 100vh;
    object-position: 45%;
    position: absolute;

    @include m.tablet {
      object-position: center 85%; // Para poder mover la imagen interiormente y centrar
    }
  }

  .portada__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;

    h1 {
      font-family: v.$fuente_titulos;
      margin-top: 10%;
      margin-bottom: 10px;
      color: v.$blanco;

      @include m.tablet {
        margin-top: 5%;
      }
    }
    h3 {
      margin-bottom: 30px;
      color: v.$blanco;
    }
    h2,
    h3 {
      font-family: v.$fuente_date;
      text-align: center;
    }
  }

  .countdown {
    display: flex;
    gap: 20px;
    color: v.$blanco;
  }

  .simply-section > div {
    display: flex;
    flex-direction: column;
  }

  .simply-word {
    font-size: 20px;
  }
}
